@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  background: linear-gradient(180deg, #080e24 0%, #0b0b0b 90%);
  color: #fff;
  font-family: 'Poppins', sans-serif;
  margin: 0;

}

/* NAVBAR */
.navbar {
  padding: 20px 0;
  background: rgba(11, 20, 55, 0.95);
  backdrop-filter: blur(8px);
  border-bottom: 1px solid #1d1d1d;
}
.navbar-brand {
  font-size: 1.5rem;
  font-weight: 700;
  color: #e5e5e5;
}
.navbar-brand:hover {
  
  color: #3e3e68;
  transition: .2s;
}
.nav-link {
  padding: 0 18px;
  transition: .2s;
  color: #e5e5e5;
}
.nav-link:hover {
  color: #3e3e68 !important;
  transition: .2s;
}

/* HERO */
.hero {
  padding: 170px 0 150px;
  text-align: center;
}
.hero-photo {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  border: 4px solid #100256;
  object-fit: cover;
  box-shadow: 0 0 20px rgba(0,123,255,0.12);

}
.hero h1 {
  margin-top: 45px;
  font-size: 3.2rem;
  font-weight: 700;
  color: #cfd8ff;
  text-shadow: 0 2px 6px rgba(0,123,255,0.2);
}
.subtitle {
  opacity: .8;
  margin-top: 40px;
  font-size: 1.25rem;
  color: #a0a8bf;
  font-weight: 500;
}

.btn-primary {
  padding: 12px 30px;
  margin-top: 45px;
  border-radius: 10px;
  background: linear-gradient(180deg, #2c7af8 0%, #003fa3 100%);
}
.btn-primary:hover {

   background: linear-gradient(180deg, #0062ff 0%, #03204e 100%);
  transform: translateY(-2px);
    transition: .25s;
}

.btn-outline:hover {

   background: linear-gradient(180deg, rgb(1, 21, 80) 0%, #000000 120%);
  transform: translateY(-2px);
    transition: .25s;

}
.btn-outline {
  padding: 12px 30px;
  border-radius: 10px;
  color: #ccc;
  margin-top: 45px;
   background: linear-gradient(180deg, #030c2c 0%, #0529a149 100%);
  transition: .25s;
}

/* SECTIONS */
.section {
  padding: -80px 0;
}
.section-title {
  font-size: 2.6rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
  color: #cfd8ff;
  text-shadow: 0 1px 4px rgba(0,123,255,0.15);
}
.section-title2 {
  font-size: 2.6rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 60px;
  margin-top: 80px;
  color: #cfd8ff;
  text-shadow: 0 1px 4px rgba(0, 123, 255, 0.034);
}

/* SOBRE */
.sobre-text {
  font-size: 1.15rem;
  opacity: .85;
  line-height: 1.6;
  color: #e0e0e0;
}

.sobre-text {
  text-align: center;
}


.sobre-infos {
  justify-content: center;
  text-align: center;
}


.sobre-infos {
  margin-top: 30px;
  display: flex;
  gap: 150px;
  flex-wrap: wrap;
}


.info-list {
  margin-top: 8px;
  opacity: .75;
  line-height: 1.5;
  color: #b0b0b0;
}
.about-name {
  font-size: 1.8rem;
  font-weight: 700;
  color: #cfd8ff;
  margin-bottom: 5px;
  text-shadow: 0 1px 3px rgba(0,123,255,0.12);
}
.about-role {
  font-size: 1.15rem;
  font-weight: 500;
  color: #a0a8bf;
  margin-bottom: 15px;
}

/* CARDS */

.card {
  background: linear-gradient(180deg, #080e24 0%, #0b0b0b 90%);
  border-radius: 16px;
  height: 100%;
  border: 1px solid #1f1f1f;
  transition: .3s;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.card-body {
  padding: 23px;
  text-align: center;

}

.card-body img{
  width: 340px;
  margin-bottom: 20px;
}



.card:hover {
  background: linear-gradient(180deg, #030c2c 0%, #0529a1b6 100%);
  transform: translateY(-6px);
  box-shadow: 0 0 15px rgba(255,255,255,0.03);
}
.card-title {
  font-size: 1.4rem;
  font-weight: 600;
  color: #cfd8ff;
  margin-top: 10px;
   display: flex;
  justify-content: center;
    align-items: center;
  
}

.card-text {
  margin-top: 16px;
  font-size: 1rem;
  color: #d0d0d0;
  line-height: 1.5;

}

/* CONTATO */
#contato p {
  opacity: .85;
  font-size: 1.15rem;
  color: #e0e0e0;
}

#contato {
  margin-top: 100px;
  padding-top: 40px;
}


/* FOOTER */
.footer {
  background: transparent;
  padding: 50px 0;
  opacity: .85;
  color: #a0a8bf;
}

/* LINKS de contato */
.contact-link {
  display: flex;
  align-items: center;
  gap: 6px;
 background: linear-gradient(180deg, #2c7af8 0%, #003fa3 100%);
  padding: 12px 20px;
  border-radius: 10px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  transition: 0.25s;
}
.contact-link:hover {
  background: #04367c;
   background: linear-gradient(180deg, rgb(1, 21, 80) 0%, #023b96 120%);
  transform: translateY(-2px);
}
.contact-link i {
  font-size: 1.2rem;
}

.navbar .dropdown-menu {
  background: #0b1437;
  border: 1px solid #1d1d1d;
}

.dropdown-item {
  color: #e5e5e5;
}

.dropdown-item:hover {
  background: #1a1f3d;
  color: #fff;
}

